 /* Subheader on Top */
 .sub-header {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-header a {
    margin-left: 15px;
}

h2 {
    color: white;
    font-size: 12px;
}

.sub-header a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

/* Title and Logo */
.title-logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: rgb(26, 23, 23);
}

.fa-cotton-bureau {
    font-size: 30px;
    margin-right: 10px;
}

header > div {
    padding: 5px 40px;
    border-bottom: rgb(211, 211, 211) solid 1px;
    display: flex;
    align-items: center;
}

/* Navigation Links */
.nav-menu {
    padding: 5px 40px;
    /* border-bottom:rgb(211, 211, 211) solid 1px; */
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    text-decoration: none;
    color:#fff;
    font-size: 16px;
    padding: 5px 10px;
}

.nav-links:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

/* Hamburger */
.menu-icon {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 760px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #1888ff;
        border-radius: 4px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #1888ff;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #1888ff;
        transition: 250ms;
    }
}